# macOS
.DS_Store

# Xcode — user-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode — build output
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager (на случай будущего использования системных пакетов)
.build/
.swiftpm/
Package.resolved

# Прочее
*.playground/playground.xcworkspace
timeline.xctimeline
*.log
